        @keyframes imgshow{
            0%{
                opacity: 0;
                height: 0vh;
            }
        }
        @keyframes showbox{
            0%{
                transform: rotateY(100deg);
                opacity: 0;
            }
        }
        html > body{
            background-color: rgb(239, 239, 239);
        }
        .bgimg{
            margin-top: 30px;
            animation: imgshow 1s;
            background-image: url(SL.png);
            background-repeat: no-repeat;
	        background-position:center;
            background-size: cover;
            background-attachment:fixed;
            height: 80vh;
            width: 100%;
            margin-left: -1vw;
        }
        .main{
            transition: all .5s ease;
            background-color: #fbfbfd;
            margin: 3%;
            padding: 3%;
            border-radius: 5px;
        }
        .main:hover{
            transform: translateY(-10px);
            box-shadow: 0px 3px 10px  rgb(80, 80, 80);
        }
        .fontbig{
            font-size: 3rem;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(51, 51, 51);
            position: fixed;
            top: 0;
            width: 100%;
            margin-left: -7.8px;
            padding-left: 5%;
        }
        li {
            float: left;
            font-size: large;
            font-weight: bolder;
        }
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: all .5s ease;
        }
        li a:hover:not(.now) {
            background-color: #111;
        }
        .now {
            background-color: #4CAF50;
        }
        .mgbox{
            opacity: .8;
            display: none;
            color:#111;
            position: absolute;
            background-color: #fbfbfd;
            text-align: center;
            width: 50%;
            padding: 5% 2% 5% 2%;
            border-radius: 5px;
            box-shadow: 1px 1px 10px rgb(91, 91, 91);
        }
        .smartboxtop:hover .mgbox{
            animation: showbox .5s;
            display: block;
        }
        .smartbox{
            transition: all .5s ease;
            border-radius: 5px;
            display: inline-block;
            margin-top: 10px;
            background-color: #ffffff;
            width: 49%;
            box-shadow: 1px 1px 10px rgb(112, 112, 112);
            font-weight: bold;
        }
        .smartbox:hover{
            transform: translateY(-5px);
            box-shadow: 1px 1px 15px rgb(112, 112, 112);
        }
        .smartboxtop{
            padding: 5%;
            color: #dd514c;
            background-color: #dd514c26;
            border-bottom: 1px solid #f5cecd;
            font-size: 1.3rem;
        }
        .smartboxtop > a{
            color: #dd514c;
            text-decoration: none;
        }
        .smartboxdown{
            padding: 3%;
        }