:root {
    --bg-color: #eee;
    --main-color: #242424;
    --next-color: #333;
    --light-color: #213547;
}
body{
    background-color: var(--bg-color);
}
#home-main{
    position: fixed;
    top: 30%;
    left: 3%;
}
.home-text{
    color: var(--main-color);
    font-weight: 549;
    font-size: 10vh;
}
.home-button{
    font-size: 9vh;
    text-decoration: none;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: .5%;
    padding-bottom: .5%;
    border-radius: 20vh;
}
/*top*/
.top {
    position:fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fff0;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
#toggle-button{
    cursor: pointer;
}
.top > .group{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    float: right;
}

.top > .group > .name{   
    color: var(--light-color);
}